@media only screen and (max-width: 640px) {
    .sidebar {
        background: white;
        position: fixed;
        margin: auto;
        left: 0;
        z-index: 10;
        height: 100%;
        width: 100%;
    }

    .sidebar-move-aside {
        left: -100%!important;
    }
}

@media (min-width: 640px) and (max-width: 1024px) {
    .sidebar {
        background: white;
        position: fixed;
        margin: auto;
        left: 0;
        z-index: 10;
        height: 100%;
        width: 50%;
    }
    
    .sidebar-move-aside {
        left: -50%!important;
    }
}
  